<h1>Gacha#draw</h1>
<% if @card %>
  <strong>結果：</strong>

  <%= image_tag @card.image, size: '218x270' %>
  <p> st = <%= @card.st %> </p>
<% else %>
  <p>景品が登録されていません。</p>
<% end %>

<%= link_to 'もう一度引く', draw_path %>
