// app/assets/stylesheets/dungeons.scss

.dungeon-card {
  position: relative;
  overflow: hidden;
  //text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);

  .card-body {
    position: relative;
    z-index: 2;
    //background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
  }
}

.dungeon-card.cave {
  background-color:  #d9c48e;
  
}

.dungeon-card.castle {
  background-color: #d1b57e;
}

.dungeon-card.mount{
  background-color: #d7bd87;
}

.dungeon-card.sougen{
  background-color: #d4b06c;
}

.dungeon-card.iseki{
  background-color: #d3af6d;
}